<a href="https://colab.research.google.com/github/msuresh3/DS_Stats/blob/main/LA_Multiplication.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Linear Algebra**
**Vector Multiplication**

1. Scalar Product   
2. Dot Product  
3. Cross Product

In [14]:
import numpy as np
import matplotlib.pyplot as plt
#import math

In [19]:
arr1 = np.array([2,3])
arr2 = np.array([4,5])

In [16]:
# Scalar Product
arr3 = 5 * arr1
arr3

array([10, 15])

In [22]:
# Dot Product
arr3 = arr1@arr2 # ((2*4) + (3*5)) => 23
arr3 = np.dot(arr1,arr2) # ((2*4) + (3*5)) => 23
arr3

23

In [23]:
np.dot([2j, 3j], [2j, 3j])

(-13+0j)

In [24]:
a = [[1, 0], [0, 1]]
b = [[4, 1], [2, 2]]
np.dot(a, b)

array([[4, 1],
       [2, 2]])

In [20]:
# Cross Product
arr3 = np.cross(arr1,arr2) # ((2*4) + (3*5)) => 23
arr3

array(-2)