# Exploring statistics in python
## Seaborn
    - Seaborn is a library for making statistical graphics in Python. It builds on top of matplotlib and integrates closely with pandas data structures.
    Seaborn helps you explore and understand your data. 
    Its plotting functions operate on dataframes and arrays containing whole datasets and internally perform the necessary semantic mapping and  statistical aggregation to produce informative plots. 
    Its dataset-oriented, declarative API lets you focus on what the different elements of your plots mean, rather than on the details of how to draw them

## Statistics
    - This module provides functions for calculating statistics of data, including averages, variance, and standard deviation.

### Importing required libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
%matplotlib inline
import statistics

### Loading data set to pandas dataframe from local csv files

In [2]:
#df = sns.load_dataset('tips')
df = pd.read_csv('AXISBANK.csv')
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,UTIBANK,EQ,24.70,26.7,26.70,26.70,26.7,26.70,26.70,112100,2.993070e+11,NaN,NaN,NaN
1,2000-01-04,UTIBANK,EQ,26.70,27.0,28.70,26.50,27.0,26.85,27.24,234500,6.387275e+11,NaN,NaN,NaN
2,2000-01-05,UTIBANK,EQ,26.85,26.0,27.75,25.50,26.4,26.30,26.24,170100,4.462980e+11,NaN,NaN,NaN
3,2000-01-06,UTIBANK,EQ,26.30,25.8,27.00,25.80,25.9,25.95,26.27,102100,2.681730e+11,NaN,NaN,NaN
4,2000-01-07,UTIBANK,EQ,25.95,25.0,26.00,24.25,25.0,24.80,25.04,62600,1.567220e+11,NaN,NaN,NaN

In [3]:
Axis_mean = float("{:.2f}".format(np.mean(df['Close'])))
Axis_mean

585.89

In [4]:
Axis_median = float("{:.2f}".format(np.median(df['Close'])))
Axis_median

519.5

In [5]:
Axis_mode = statistics.mode(df['Close'])
Axis_mode

36.1